
.new {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: aliceblue;
}

.login-container {
  display: flex;
  width: 1000px; 
  height: 500px; 
  background-color: #dc9b7b;
  border-radius: 12px; 
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  overflow: hidden; 
  transition: transform 0.3s ease-in-out; 
}


.books-section,
.login-section {
  flex: 1; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.books-section {
  background-color: #f0f0f0;
}

.books-img {
  width: 100%;
  height: 100%; 
  object-fit: cover; 
}

.login-section {
  padding: 20px;
  background-color: #fefefe; }

.login-form {
  width: 100%;
  max-width: 400px;
}

.login-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 1rem;
}

.login-form input {
  width: 90%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 1rem; 
}

.login-form button {
  width: 95%;
  padding: 12px;
  background-color: #8B4513; 
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease; 
}

.login-form button:hover {
  background-color: #A0522D; 
}

.login-form a {
  color:#A0522D;
  font-weight:bolder;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  font-size: 0.9rem;
}


@media (max-width: 768px) {
  .login-container {
    width: 90%; 
    height: auto; 
    flex-direction: column; 
  }

  .books-section {
    height: 200px; 
  }

  .login-section {
    padding: 15px;
  }

  .login-form input {
    width: 100%; 
  }

  .login-form button {
    width: 100%;}
}
