
.awarded-books-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 100%;
  background-color: #f7f7f7;
  z-index: 1000; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding-top: 15px;
  box-sizing: border-box;
}

.awarded-books-input input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.awarded-books-input button {
  padding: 10px 15px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  margin-top: -4px;
  border-radius: 4px;
  cursor: pointer;
}

.awarded-books-input button:hover {
  background-color: #0056b3;
}

.awarded-books-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px; 
}

.awarded-books-loading, .awarded-books-error {
  font-size: 1rem;
  color: #ff0000;
}


.awarded-books-list {
  list-style: none;
  padding: 0;
  margin-top: -130px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 50px;
  justify-content: center;
}

.awarded-books-item {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  text-align: center;
  padding: 10px;
}

.awarded-books-item:hover {
  transform: scale(1.05);
}

.awarded-books-link {
  text-decoration: none;
  color: inherit;
}

.awarded-books-cover {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

.awarded-books-title-item {
  font-size: 1.1rem;
  margin: 10px 0 5px;
  color: #333;
}

.awarded-books-category {
  font-size: 0.9rem;
  color: #777;
}

.awarded-books-no-results {
  text-align: center;
  font-size: 1rem;
  color: #777;
  margin-top: 20px;
}


@media (max-width: 768px) {
  .awarded-books-list {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 20px;
  }

  .awarded-books-input {
    width: 100%;
    padding: 15px 10px;
  }

  .awarded-books-input input,
  .awarded-books-input button {
    width: 100%;
  }

  .awarded-books-content {
    margin-top: 200px; 
  }
}

@media (max-width: 480px) {
  .awarded-books-input input,
  .awarded-books-input button {
    padding: 12px;
    font-size: 0.9rem;
  }

  .awarded-books-list {
    gap: 10px;
  }
}

.awarded-books-input .input-container {
  display: flex;
  align-items: center;  
  gap: 10px;
  margin-bottom: 10px;
}

.awarded-books-input label {
  font-size: 1rem;
}

