/* Container for the whole app */
.book-search-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  font-family: 'Arial', sans-serif;
}

/* Sidebar for categories */
.sidebar {
  width: 200px;
  padding: 20px;
  max-height: 700px;
  background-color: #f0f0f0;
  border-radius: 10px;
  margin-right: 35px;
  margin-top: 150px;
}

/* Sidebar headings */
.sidebar h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

/* Sidebar lists */
.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding: 8px;
  font-size: 14px;
}

/* Checkbox label */
.sidebar label {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sidebar input[type="radio"] {
  margin-right: 10px;
}

/* Main content area */
.main-content {
  flex: 1;
}

/* Form styling */
form {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Input field styling */
input[type="text"] {
  padding: 10px 20px;
  width: 70%;
  max-width: 500px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 5px;
  transition: border-color 0.3s ease;
  margin-bottom: 10px;
}

input[type="text"]:focus {
  border-color: #333;
  outline: none;
}

/* Button styling */
button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #555;
}

/* Book list container */
.book-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;
  margin-top: 20px;
}

/* Book item styling */
.book-item {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease;
  text-align: center;
}

.book-item:hover {
  transform: translateY(-10px);
}

/* Book image styling */
.book-item img {
  width: 180px;
  height: 220px;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* Book title */
.book-item h3 {
  font-size: 16px;
  color: #333;
  margin: 10px 0;
}

/* Book metadata */
.book-item p {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
  line-height: 1.6;
}

.book-item p strong {
  color: #000;
}

/* Error message */
.error-message {
  font-size: 16px;
  color: red;
  text-align: center;
}

/* Pagination styling */
.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  padding: 8px 12px;
  margin: 0 5px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
  background-color: #0056b3;
}

.pagination span {
  margin: 0 10px;
  font-weight: bold;
  font-size: 14px;
}

/* Favorite button styling */
.favorite-button {
  background-color: white;
  color: black;
  border: 1px solid #ddd;
  border-radius: 30px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.favorite-button:hover {
  background-color: black;
  color: white;
}

.whatsapp-button{
  background-color: white;
  color: black;
  border: 1px solid #ddd;
  border-radius: 30px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.whatsapp-button:hover {
  background-color: black;
  color: white;
}
